{% embed "@hdbt/misc/component.twig" with
  {
    component_classes: [
      'component--graphics',
    ],
    component_content_class: 'graphics',
  }
%}
  {% block component_content %}
    <div class="graphics__text-container">
      <h2 class="graphics__title">{{ content.field_graphics_title }}</h2>
      <div class="graphics__description">{{ content.field_graphics_desc }}</div>
    </div>
    <div class="graphics__illustration-container">
      <img src="{{ selected_illustration.url }}" data-photographer="{{ selected_illustration.photographer }}" alt="{{ selected_illustration.alt }}" class="graphics__illustration" />
    </div>
  {% endblock component_content %}
{% endembed %}
