{{ attach_library('helfi_news_archive/news-archive') }}
{% embed "@hdbt/layout/page.html.twig" with { has_sidebar_second: true, has_hero: true } %}
  {% block page_before_content %}
    {# Render the announcements block in before content. #}
    {{ drupal_entity('block', 'announcements') }}

    {# Render the page title in before content to apply Hero theme for it. #}
    {# TODO: This is a bandage. Remove once the actual news acrhive is beind developed. #}
    <div class="no-sidebar enriched-content">
      {{ page.content[active_theme ~ '_page_title'] }}
    </div>
    {# Render the main news block in before content. #}
    {{ drupal_entity('block', 'views_block__frontpage_news_main_news', check_access=false) }}

    <div id="helfi-etusivu-news-search" class="block--news-archive"></div>
  {% endblock page_before_content %}

  {% block page_content %}
    <noscript>
     {{ page.content|without(page_title_block) }}
    </noscript>
  {% endblock page_content %}

  {# Create sidebar second block and render most read news in it. #}
  {% block page_sidebar_second %}
    <noscript class="most-read-news">
      {{ drupal_entity('block', 'views_block__radioactivity_most_read_news', check_access=false) }}
    </noscript>
  {% endblock page_sidebar_second %}
{% endembed %}
