<article>
  <div class="components components--computed components--helsinki-near-you-results">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--back-to-edit-link',
        ],
      }
    %}
      {% block component_content %}
        {% include '@hdbt/navigation/link-button.html.twig' with {
          type: 'supplementary',
          label: back_link_label,
          url: back_link_url,
          link_options: {'class': ['back-to-edit-link']},
        } %}
      {% endblock component_content %}
    {% endembed %}
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [ 'component--popular-services' ],
        component_title: 'Services near you'|t({}, {'context': 'Services near you block'}),
        component_description: 'Go from the links to the search results for your address.'|t({}, {'context': 'Services near you block'}),
        component_content_class: 'popular-services',
      }
    %}
      {% block component_content %}
        {% for service_group in service_groups %}
          {% embed "@hdbt/misc/popular-service-item.twig" with { title: service_group.title } %}
            {% block links %}
              {% embed "@hdbt/misc/popular-service-links.twig" with { items: service_group.service_links } %}
                {% block link %}
                  {% set link_attributes = {
                    'class': [
                      'link__style--highlight',
                    ],
                  } %}
                  {{ link(item.link_label, item.link_url, link_attributes) }}
                {% endblock %}
              {% endembed %}
            {% endblock links %}
          {% endembed %}
        {% endfor %}
      {% endblock component_content %}
    {% endembed %}
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
        'component--react-search',
        'component--event-list',
        'component--coordinates-based-list',
        ],
        component_title: 'Events near you'|trans({}, {'context': 'Helsinki near you'}),
        component_description: 'Browse events near you by date.'|trans({}, {'context': 'Helsinki near you'}),
        component_content_class: 'event-list',
      }
    %}
      {% block component_content %}
        {# Hook React app to this div #}
        {{ attach_library('hdbt/event-list') }}
        <div
          id="helfi-events-search"
          data-paragraph-id="helfi-coordinates-based-event-list"
        >
        </div>
        {# Indicate JS not enabled #}
        <noscript>
          <div class="event-list__javascript-disabled">
            {{ 'You must enable JavaScript in your browser for event list to work'|t }}
          </div>
        </noscript>
      {% endblock %}
    {% endembed %}
    {% if nearby_neighbourhoods is not empty %}
      {% set neighbourhood_names = nearby_neighbourhoods | map(n => n.title.value) | join(', ', ' and ' | t({}, {'context': 'News close to you block'})) %}
      {% embed "@hdbt/misc/component.twig" with
        {
          component_classes: [
          'component--react-search',
          'component--news-archive',
          'component--coordinates-based-list',
        ],
          component_title: 'News related to your neighbourhood'|t({}, {'context': 'News close to you block'}),
          component_description: 'See news related to the neighbourhoods of %neighbourhoods%'|t({'%neighbourhoods%': neighbourhood_names}, {'context': 'News close to you block'}),
          component_content_class: 'news-archive',
        }
      %}
        {% block component_content %}
          {# Hook React app to this div #}
          {{ attach_library('hdbt/news-archive') }}
          <div
            id="helfi-etusivu-news-search"
            data-paragraph-id="helfi-coordinates-based-news-list"
          >
          </div>
          {# Indicate JS not enabled #}
          <noscript>
            <div class="news-archive__javascript-disabled">
              {{ 'You must enable JavaScript in your browser for news list to work'|t }}
            </div>
          </noscript>
          <div class="news-archive__link-wrapper">
            {% set news_archive_title = 'See all news near you'|t({}, {'context': 'News close to you block'}) %}
            {% include '@hdbt/navigation/link-button.html.twig' with {
              type: 'primary',
              label: news_archive_title,
              url: news_archive_url,
            } %}
          </div>
        {% endblock component_content %}
      {% endembed %}
    {% endif %}
    
    {# Roadwork Section - Debugging #}
    {% set debug_roadwork = {
      'roadwork_section_defined': roadwork_section is defined,
      'roadwork_section_not_empty': roadwork_section is defined and roadwork_section is not empty,
      'projects_defined': roadwork_section is defined and roadwork_section.projects is defined,
      'projects_count': roadwork_section is defined and roadwork_section.projects is defined ? roadwork_section.projects|length : 0,
      'title': roadwork_section is defined and roadwork_section.title is defined ? roadwork_section.title : 'No title',
      'see_all_url': roadwork_section is defined and roadwork_section.see_all_url is defined ? roadwork_section.see_all_url : 'No URL'
    } %}
    
    {# Debug output - will be visible in the HTML source #}
    <!-- 
    Roadwork Section Debug Info:
    {{ debug_roadwork|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
    -->
    
    {# Actual Roadwork Section #}
    {% if roadwork_section is defined and roadwork_section is not empty %}
      {% set title = roadwork_section.title is iterable ? roadwork_section.title|render : roadwork_section.title %}
      {% set has_projects = roadwork_section.projects is defined and roadwork_section.projects is not empty %}
      
      <div class="roadwork-section-wrapper">
        {% embed "@hdbt/misc/component.twig" with {
          component_classes: [
            'component--roadwork-projects',
            'component--coordinates-based-list',
          ],
          component_title: title,
          component_description: 'Selaa alueellasi k채ynniss채 olevia katu- ja puistohankkeita.'|t({}, {'context': 'Helsinki near you roadworks'}),
          component_content_class: 'roadwork-projects',
        } %}
          {% block component_content %}
            {% if has_projects %}
              <div class="roadwork-projects__list">
                {% for project in roadwork_section.projects %}
                  <article class="roadwork-project">
                    <h3 class="h3 roadwork-project__title">
                      {% if project.url is defined and project.url is not empty %}
                        <a href="{{ project.url }}" target="_blank" rel="noopener" class="hds-link hds-link--external">
                          {{ project.title }}
                          <span class="hds-icon hds-icon--link-external" aria-hidden="true"></span>
                          <span class="visually-hidden">{{ 'Opens in a new tab'|t }}</span>
                        </a>
                      {% else %}
                        {{ project.title }}
                      {% endif %}
                    </h3>
                    {% if project.location is defined and project.location is not empty %}
                      <div class="hds-text-body hds-text-body--meta">
                        <span class="hds-text-body__icon">
                          <span class="hds-icon hds-icon--location" aria-hidden="true"></span>
                        </span>
                        <span class="hds-text-body__text">
                          {% if project.location_label is defined %}
                            <span class="hds-text-body__label">{{ project.location_label }}: </span>
                          {% endif %}
                          {{ project.location }}
                        </span>
                      </div>
                    {% endif %}
                    {% if project.schedule is defined and project.schedule is not empty %}
                      <div class="hds-text-body hds-text-body--meta">
                        <span class="hds-text-body__icon">
                          <span class="hds-icon hds-icon--clock" aria-hidden="true"></span>
                        </span>
                        <span class="hds-text-body__text">
                          {% if project.schedule_label is defined %}
                            <span class="hds-text-body__label">{{ project.schedule_label }}: </span>
                          {% endif %}
                          {{ project.schedule }}
                        </span>
                      </div>
                    {% endif %}
                  </article>
                {% endfor %}
              </div>
            {% else %}
              <p>{{ 'No roadwork projects found in your area.'|t }}</p>
            {% endif %}
            
            {% if roadwork_section.see_all_url is defined and roadwork_section.see_all_url %}
              <div class="roadwork-projects__link-wrapper">
                {% set see_all_title = 'Katso kaikki katu- ja puistohankkeet l채helt채si'|t({}, {'context': 'Helsinki near you roadworks'}) %}
                {% include '@hdbt/navigation/link-button.html.twig' with {
                  type: 'primary',
                  label: see_all_title,
                  url: roadwork_section.see_all_url,
                } %}
              </div>
            {% endif %}
          {% endblock %}
        {% endembed %}
      </div>
    {% endif %}
    
    {% include '@hdbt_subtheme/module/helfi-etusivu/helsinki-near-you-feedback-block.html.twig' %}
  </div>
</article>
