<article>
  <div class="components components--computed">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
          'component--graphics',
        ],
        component_content_class: 'graphics',
      }
    %}
      {% block component_content %}
        <div class="graphics__text-container">
          <h2 class="graphics__title">{{ title }}</h2>
          <div class="graphics__description">
            <p>{{ description }}</p>
          </div>
        </div>
        <div class="graphics__illustration-container">
          <figure>
            {% if illustration %}
              <img src="{{ illustration }}" data-photographer="{{ illustration_caption }}" alt class="graphics__illustration" />
            {% else %}
              <picture>
                <source srcset="{{ illustration_url_1x }} 1x, {{ illustration_url_2x }} 2x" height="513" width="513" type="image/png" media="all and (min-width: 320px)" />
                <img src="{{ illustration_url_1x }}" height="513" width="513" data-photographer="{{ illustration_caption }}" alt class="graphics__illustration">
              </picture>
            {% endif %}
            <figcaption>{{ illustration_caption }}</figcaption>
          </figure>
        </div>
      {% endblock component_content %}
    {% endembed %}
  </div>
</article>
