{#
/**
 * To actually show any data from a custom plugin, you *MUST* override this template
 * with a template called 'debug-item--{{ id }}.html.twig'.
 *
 * For example: debug-item--composer.html.twig, where 'composer' is your plugin's ID.
 *
 * You can then loop your data with something like this:
 * {% for item in data.packages %}
 *    {{ item.name }}
 *    {{ item.version }}
 * {% endfor %}
 *
 *  Available variables:
 *  - id: The ID of your plugin
 *  - label The label of your plugin
 *  - data:  An array of data returned by your plugin's collect() method.
 */
#}
<table style="width:auto;">
  <caption>Composer</caption>
  <thead>
  <tr>
    <th scope="col">Package</th>
    <th scope="col">Version</th>
    <th scope="col">Timestamp</th>
  </tr>
  </thead>
  <tbody>
  {% for package in data.packages %}
    <tr>
      <td>
        {% if package.releases_url %}
          {{ link(package.name, package.releases_url) }}
        {% else %}
          {{ package.name }}
        {% endif %}
      </td>
      <td>
        {{ package.version }}
      </td>
      <td>
        {{ package.time|date('U')|format_date('long') }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
